<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>First Flask</h1>
    <form method="POST">
    <label for="name">Enter your name</label>
    <input type="text" name="name">
    <input type="submit" value ="Submit"> 
</form>
    <img src="https://th.bing.com/th/id/ODL.ccb05fe8eecaea59551a963d3a1b931e?w=310&h=198&c=7&rs=1&bgcl=ffff14&r=0&o=6&pid=AlgoBlockDebug"
    alt ="lightning">
</body>
</html>